* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-adapt {
  display: none;
}

.header-top__line {
  background-color: #008C99;
  width: 100vw;
  height: 1px;
  margin-top: 14px;
}

.nav-menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}
.nav-menu-top__contact {
  display: flex;
  gap: 44px;
}
.nav-menu-top__contact-itemus {
  margin-left: 75px;
}

.nav-menu-center {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.nav-menu-center__hamburger {
  display: none;
}

.search-form {
  margin-left: 20px;
}
.search-form__input {
  width: 471px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #D9D9D9;
}

.contacts {
  margin-left: 46px;
}
.contacts__telephone {
  color: #008C99;
  font-size: 13px;
}
.contacts__workinghours {
  font-size: 10px;
}

.user-actions {
  display: flex;
  margin-left: 80px;
  gap: 50px;
}
.user-actions__item-text1 {
  display: flex;
  position: absolute;
  font-size: 8px;
  margin-left: 29px;
  margin-top: 2px;
  color: white;
}
.user-actions__item-text2 {
  display: flex;
  position: absolute;
  font-size: 8px;
  margin-left: 116px;
  margin-top: 2px;
  color: white;
}
.user-actions__btn {
  border-radius: 10px;
  border: none;
  width: 78px;
  height: 31px;
}

.nav-menu-bottom__list {
  display: flex;
  gap: 68px;
  align-items: center;
  margin-top: 10px;
}

.header-bottom {
  background: white;
  width: 100vw;
}
.header-bottom__linear-gradient {
  background-image: linear-gradient(to bottom, #737373, white);
  width: 100vw;
  height: 7px;
  margin-top: 10px;
}

.advertisement {
  margin-top: 19px;
  display: flex;
  justify-content: center;
  margin-bottom: 104px;
}
.advertisement__button1 {
  position: absolute;
  top: 150px;
  left: 60px;
}
.advertisement__button2 {
  position: absolute;
  top: 150px;
  right: 60px;
  transform: rotate(180deg);
}
.advertisement__cells {
  position: absolute;
  top: 330px;
  right: 550px;
}
.advertisement__cells1 {
  display: none;
}

.second-section__nav {
  display: none;
}
.second-section__categories {
  position: relative;
  display: flex;
  font-size: 24px;
  gap: 274px;
  justify-content: center;
  bottom: 10px;
}
.second-section__img {
  display: flex;
  justify-content: space-between;
}

.six-columns {
  display: flex;
  justify-content: space-between;
}

.third-section {
  top: 156px;
}

.products-section {
  margin-top: 26px;
}
.products-section__title {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.product-card {
  border: 1px solid #008C99;
  width: 190.2px;
  height: 310px;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card__badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #EC7823;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
}
.product-card__image-block {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -16px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.product-card__name {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  color: #666;
}
.product-card__price {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 13px;
  color: #333;
  margin-top: 18px;
}
.product-card__price small {
  font-size: 10px;
}
.product-card__oldprice {
  display: flex;
  align-items: center;
  font-size: 10px;
  text-decoration: line-through;
}
.product-card__oldprice small {
  font-size: 10px;
}

.footer {
  color: white;
}

.footer-top {
  width: 100vw;
  height: 221px;
  background-color: #27BDBE;
}
.footer-top__container {
  height: 270px;
}
.footer-top__line {
  background-color: #008C99;
  width: 100vw;
  height: 2px;
  margin-top: 14px;
}
.footer-top__left {
  position: relative;
  top: 21px;
  display: grid;
  gap: 10px;
}
.footer-top__row {
  display: flex;
  gap: 30px;
  justify-content: end;
  position: relative;
  bottom: 140px;
}
.footer-top__links li {
  margin-bottom: 10px;
}

.footer-bottom {
  width: 100vw;
  height: 54px;
  background-color: #008C99;
}
.footer-bottom__text {
  top: 35px;
}

@media (max-width: 768px) {
  .container {
    position: relative;
    width: 708px;
    margin: 0 auto;
  }
  .header-adapt {
    display: inline;
    width: 41px;
    height: 29px;
  }
  .nav-menu-adapt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
  }
  .nav-menu-adapt__item-text2 {
    display: flex;
    position: absolute;
    font-size: 8px;
    right: 121.5px;
    bottom: 22px;
    color: white;
  }
  .nav-menu-adapt__item-text1 {
    display: flex;
    position: absolute;
    font-size: 8px;
    right: 55px;
    bottom: 23px;
    color: white;
  }
  .nav-menu-adapt__right {
    display: flex;
    gap: 39px;
    align-items: center;
  }
  .nav-menu-adapt__location {
    position: relative;
    bottom: 10px;
  }
  .nav-menu-adapt__telephone img {
    width: 19px;
    height: 19px;
  }
  .nav-menu-adapt__favorite img {
    width: 27px;
    height: 27px;
  }
  .nav-menu-adapt__basket img {
    width: 27px;
    height: 27px;
  }
  .nav-menu-top {
    display: none;
  }
  .nav-menu-center__logo {
    display: none;
  }
  .nav-menu-center__contacts {
    display: none;
  }
  .nav-menu-center__actions {
    display: none;
  }
  .hamburger {
    margin-top: 5px;
    position: relative;
    left: 5px;
    width: 30px;
    border-radius: 25px;
    background: #008C99;
    height: 25px;
    z-index: 30;
  }
  .hamburger span {
    position: relative;
    left: 7.5px;
    top: 7.5px;
    height: 1px;
    display: block;
    width: 14px;
    background: white;
    margin-bottom: 4px;
  }
  .hamburger span:last-child {
    margin-bottom: 0;
  }
  .search-form {
    position: relative;
    margin-top: 7px;
    left: 40px;
  }
  .search-form__input {
    width: 586px;
    height: 17px;
  }
  .nav-menu-bottom {
    display: none;
  }
  .advertisement__advertisement img {
    height: 219px;
    width: 708px;
  }
  .advertisement__button1 {
    display: none;
  }
  .advertisement__button2 {
    display: none;
  }
  .advertisement__cells {
    display: none;
  }
  .advertisement__cells1 {
    display: inline;
    position: absolute;
    top: 230px;
  }
  .second-section__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
  }
  .second-section__container {
    display: none;
  }
  .promo-card {
    position: relative;
    display: block;
    width: 100%;
    height: 280px;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  .promo-card__image {
    width: 223px;
    height: 225px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .promo-card__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    padding: 15px 20px;
  }
  .promo-card__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
  }
  .product-card {
    width: 100.12px;
    height: 188.79px;
  }
  .product-card img {
    width: 98px;
    height: 94px;
  }
  .footer-top__left {
    justify-content: center;
    place-items: center;
  }
  .footer-top__col {
    display: none;
  }
  .footer-bottom__text {
    display: grid;
    place-items: center;
  }
}
@media (max-width: 360px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .advertisement__advertisement img {
    height: 219px;
    width: 340px;
  }
  .second-section__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
  }
  .second-section__container {
    display: none;
  }
  .nav-menu-adapt__location {
    font-size: 10px;
  }
  .nav-menu-adapt__item-text1 {
    right: 36px;
  }
  .nav-menu-adapt__item-text2 {
    right: 73px;
  }
  .nav-menu-adapt__right {
    gap: 10px;
  }
}