*
    box-sizing: border-box


$color-blue: #008C99
$color-grey: #D9D9D9
$color-white: #ffff
$color-orange: #EC7823
$color-light-blue: #27BDBE
.container
    position: relative
    max-width: 1160px
    margin: 0 auto

a
    text-decoration: none
    color: inherit

.header-adapt
    display: none

.header-top
    &__line
        background-color: $color-blue
        width: 100vw
        height: 1px
        margin-top: 14px

.nav-menu-top
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 14px
    &__contact
        display: flex
        gap: 44px
    &__contact-itemus
        margin-left: 75px

.nav-menu-center
    display: flex
    align-items: center
    margin-top: 6px
    &__hamburger
        display: none

.search-form
    margin-left: 20px
    &__input
        width: 471px
        height: 25px
        border-radius: 10px
        border: none
        background-color: $color-grey

.contacts 
    margin-left: 46px
    &__telephone
        color: $color-blue
        font-size: 13px
    &__workinghours
        font-size: 10px
    
.user-actions
    display: flex
    margin-left: 80px
    gap:50px
    &__item-text1
        display: flex
        position: absolute
        font-size: 8px
        margin-left: 29px
        margin-top: 2px
        color: $color-white
    &__item-text2
        display: flex
        position: absolute
        font-size: 8px
        margin-left: 116px
        margin-top: 2px
        color: $color-white
    &__btn
        border-radius: 10px
        border: none
        width: 78px
        height: 31px

.nav-menu-bottom
    &__list
        display: flex
        gap: 68px
        align-items: center
        margin-top:10px     

.header-bottom
    background: $color-white
    width: 100vw
    &__linear-gradient
        background-image: linear-gradient(to bottom, #737373,$color-white)
        width:  100vw
        height: 7px
        margin-top: 10px

.advertisement
    margin-top: 19px
    display: flex
    justify-content: center
    margin-bottom: 104px
    &__button1
        position: absolute
        top: 150px
        left: 60px
    &__button2
        position: absolute
        top: 150px
        right: 60px
        transform: rotate(180deg)
    &__cells
        position: absolute
        top: 330px
        right: 550px 
    &__cells1
        display: none
.second-section
    &__nav
        display: none
    &__categories
        position: relative
        display: flex
        font-size: 24px
        gap: 274px
        justify-content: center
        bottom: 10px
    &__img
        display: flex
        justify-content: space-between



.six-columns
    display: flex
    justify-content: space-between

.third-section
    top: 156px
.products-section
    margin-top: 26px
    &__title
        font-size: 40px
        margin-bottom: 20px
        text-align: center

.product-card
    border: 1px solid $color-blue
    width: 190.2px
    height: 310px 
    border-radius: 20px
    padding: 15px
    text-align: center
    position: relative
    background: #fff
    display: flex
    flex-direction: column
    justify-content: space-between
    &__badge
        position: absolute
        top: 10px
        right: 10px
        background-color: $color-orange
        color: #fff
        font-size: 11px
        font-weight: bold
        padding: 2px 6px
        border-radius: 4px
    &__image-block
        height: 190px
        display: flex
        align-items: center
        justify-content: center
        margin-top: -16px
        margin-bottom: 10px
        border-radius: 10px 
    &__name
        display: flex
        font-weight: bold
        font-size: 14px
        color: #666
    &__price
        display: flex
        gap: 2px
        align-items: center
        font-size: 13px
        color: #333
        margin-top: 18px
        small
            font-size: 10px
    &__oldprice
        display: flex
        align-items: center
        font-size: 10px
        text-decoration: line-through
        small
            font-size: 10px
        

.footer
    color: $color-white
    

.footer-top
    width: 100vw
    height: 221px
    background-color: $color-light-blue
    &__container
        height: 270px
    &__line
        background-color: $color-blue
        width: 100vw
        height: 2px
        margin-top: 14px
    &__left
        position: relative
        top: 21px
        display: grid
        gap: 10px
    &__row
        display: flex
        gap: 30px
        justify-content: end
        position: relative
        bottom: 140px
    &__links li
        margin-bottom: 10px
        

.footer-bottom
    width: 100vw
    height: 54px
    background-color: $color-blue
    &__text
        top: 35px

@media (max-width: 768px)
    .container
        position: relative
        width: 708px 
        margin: 0 auto

    
    .header-adapt
        display: inline
        width: 41px
        height: 29px
        
    
    .nav-menu-adapt
        display: flex
        justify-content: space-between
        align-items: center
        top: 10px
        &__item-text2
            display: flex
            position: absolute
            font-size: 8px
            right: 121.5px
            bottom: 22px
            color: $color-white
        &__item-text1
            display: flex
            position: absolute
            font-size: 8px
            right:  55px
            bottom: 23px
            color: $color-white

        &__right
            display: flex
            gap: 39px
            align-items: center
        &__location
            position: relative
            bottom: 10px
        &__telephone
            img
                width: 19px
                height: 19px
        &__favorite
            img
                width: 27px
                height: 27px
        &__basket
            img
                width: 27px
                height: 27px
    .nav-menu-top
        display: none
    .nav-menu-center
        &__logo
            display: none
        &__contacts
            display: none
        &__actions
            display: none
    .hamburger
        margin-top: 5px
        position: relative
        left: 5px
        width: 30px
        border-radius: 25px
        background: $color-blue
        height: 25px
        z-index: 30
        span
            position: relative
            left: 7.5px
            top: 7.5px
            height: 1px
            display: block
            width: 14px
            background: $color-white
            margin-bottom: 4px 
            &:last-child
                margin-bottom: 0
            
    .search-form
        position: relative
        margin-top: 7px
        left: 40px
        &__input
            width: 586px
            height: 17px
    .nav-menu-bottom
        display: none
       
    .advertisement
        &__advertisement
            img
                height: 219px
                width: 708px
        &__button1
            display: none
        &__button2
            display: none
        &__cells
            display: none
        &__cells1
            display: inline
            position: absolute
            top: 230px
    
    .second-section
        &__nav
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
            gap: 40px
        &__container
            display: none

    .promo-card
        position: relative
        display: block
        width: 100%
        height: 280px
        border-radius: 4px
        overflow: hidden
        text-decoration: none
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05)
        &__image
            width: 223px
            height: 225px
            object-fit: cover
        &__footer 
            position: absolute
            width: 100%
            bottom: 0
            left: 0
            background: rgba(255, 255, 255, 0)
            backdrop-filter: blur(4px)
            padding: 15px 20px
        &__title
            margin-bottom:30px
            font-size: 18px
            font-weight: normal
            color: #000000
        
    .product-card
        width: 100.12px
        height: 188.79px
        img
            width: 98px
            height: 94px
    .footer-top
        &__left
            justify-content: center
            place-items: center
        &__col
            display: none
    .footer-bottom
        &__text
            display: grid
            place-items: center 
@media (max-width: 360px)
    .container
        width: 100%
        padding: 0 10px
    
    .advertisement
        &__advertisement
            img
                height: 219px
                width: 340px
    .second-section
        &__nav
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
            gap: 5px
        &__container
            display: none
    .nav-menu-adapt
        &__location
            font-size: 10px
        &__item-text1
            right: 36px
        &__item-text2
            right: 73px
        &__right
            gap: 10px
    .hamburger
        



            


        


    



    
    